/* Header */
header {
    background-color: #6c3c1b; 
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

header div {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div h1 a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem; 
}

header div ul {
    list-style-type: none;
    display: flex;
    gap: 15px; 
}

header div ul li a {
    text-decoration: none;
    color: #ddd; /* Softer white for links */
    font-size: 1rem;
}

header div ul li a:hover {
    color: #fff; 
}



header {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 10px 0;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}
