/* Estilos generales */
* {
    margin: 0; /* Elimina el margen por defecto de todos los elementos */
    padding: 0; /* Elimina el padding por defecto de todos los elementos */
    box-sizing: border-box; /* Para que el padding y el borde no afecten al tamaño total del elemento */
    font-family: Arial, Helvetica, sans-serif; /* Cambia la fuente de todos los elementos */
}